body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin:0;
  min-width: 1024px;
}

.main{
  width:626px;
  margin: 0 auto;
}

.main img{
  margin-top:64px;
  padding-bottom:32px;
}

h1{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color:#3F3D56;
  padding-bottom:16px;
  margin:0;
}

h1 span{
  color: #EE24FF;
}


.main p{
  color:#828282;
  font-size: 15px;
  line-height: 22px;
  
}

p strong{
  color: #3F3D56;
}

.content p{
  width:540px;
  display: inline-block;
}

.line{
  width: 391px;
  height: 0px;
  border-top: 1px solid #ECEFF2 ;
  margin: 0 auto ;
  padding-top: 16px;
}

footer{
  padding-top: 80px;
}


footer a {
  text-decoration: none;
  color: #3F3D56;
  font-weight: bold;
  line-height: 15px;
  
  
}

footer a + a {
  padding-left: 42px;
} 


#footer-img{
  padding-top: 40px;  
}


